@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 28 100% 97%; /* --light-desaturated-orange */
    --foreground: 20 14% 4%;
    --card: 28 100% 97%;
    --card-foreground: 20 14% 4%;
    --popover: 28 100% 97%;
    --popover-foreground: 20 14% 4%;
    --primary: 28 100% 50%; /* --vibrant-orange */
    --primary-foreground: 20 14% 4%;
    --secondary: 30 80% 96%;
    --secondary-foreground: 20 14% 4%;
    --muted: 30 80% 96%;
    --muted-foreground: 20 14% 40%;
    --accent: 38 88% 57%; /* --complementary-yellow */
    --accent-foreground: 20 14% 4%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 80% 90%;
    --input: 30 80% 90%;
    --ring: 28 100% 50%;
    --radius: 0.8rem;
  }
 
  .dark {
    --background: 28 33% 15%; /* --dark-desaturated-orange */
    --foreground: 0 0% 98%;
    --card: 28 33% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 28 33% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 28 100% 50%; /* --vibrant-orange */
    --primary-foreground: 20 14% 4%;
    --secondary: 30 20% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 30 20% 20%;
    --muted-foreground: 0 0% 60%;
    --accent: 38 88% 57%; /* --complementary-yellow */
    --accent-foreground: 20 14% 4%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 20% 25%;
    --input: 30 20% 25%;
    --ring: 28 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .t20-logo-text {
    fill: hsl(var(--foreground));
  }
}
